src/main/app/trenes-argentinos.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="trenes.mininterior.gov.ar" port="80" basePath="/v2_pg/lcd_public/" doc:name="HTTP Request Configuration"/>
    <flow name="trenes-argentinosFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/ajax_get_datos_formaciones.php" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="ramal" value="${sentidoRetiro}"/>
                <http:query-param paramName="estacion" value="15"/>
                <http:query-param paramName="cartel" value="1"/>
                <http:query-param paramName="key" value="v#v#QTUtWp#MpWRy80Q0knTE10I30kj#FNyZ"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer mimeType="application/json" doc:name="Byte Array to String"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="unknown.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	tren1: payload.items.demora_formacion_1,
	tren2: payload.items.demora_formacion_2,
	tren3: payload.items.demora_formacion_3
}]]></dw:set-payload>
        </dw:transform-message>
        <set-payload value="#['Proximo tren: '+payload.tren1 + 'min Siguiente: ' + payload.tren2 + 'min Subsiguiente: ' + payload.tren3 + 'min']" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
